// app global css in SCSS form
$lowstate-color: rgb(250, 81, 81);
$highstate-color:rgb(69, 206, 105);
.lowstate{
  background-color: $lowstate-color;
}

.normalstate{
  background-color: blue;
}

.highstate{
  background-color: $highstate-color;
}
